.sl-tooltip {
    z-index: var(--z-index, 9999999); /** Needs a high z-index property to always show the menu */
}

.sl-tooltip-content {
    color: var(--color, #fff);
    background: var(--bg, #000);
    border-radius: 4px;
    padding: 4px;
    font-size: var(--font-size, 1.2rem);
}

.sl-tooltip-trigger {
    display: inline;
}

.sl-tooltip.is-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity .25s ease-in, visibility .25s ease-in;
}

.sl-tooltip.is-hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity .15s ease-out, visibility .15s ease-out;
}

.sl-tooltip-arrow,
.sl-tooltip-arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
}

.sl-tooltip-arrow {
    visibility: hidden;
}

.sl-tooltip-arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
    background: var(--bg, #000);
    z-index: -1;
}

.sl-tooltip[data-popper-placement^='top'] > .sl-tooltip-arrow {
    bottom: -4px;
}

.sl-tooltip[data-popper-placement^='bottom'] > .sl-tooltip-arrow {
    top: -4px;
}

.sl-tooltip[data-popper-placement^='left'] > .sl-tooltip-arrow {
    right: -4px;
}

.sl-tooltip[data-popper-placement^='right'] > .sl-tooltip-arrow {
    left: -4px;
}

@media(prefers-reduced-motion) {
    .sl-tooltip.sl-tooltip.is-hidden,
    .sl-tooltip.sl-tooltip.is-visible {
        transition: none;
    }
}